<div class="wrapper">
  <div class="body" *ngIf="!loading">
    <img class="logo" src="../../../assets/img/cuenta.png" alt="img login">
    <h3>Registrar Usuario</h3>
    <div class="form-floating mb-3  mt-3">
      <input type="text" [(ngModel)]="userName" class="form-control" placeholder="Ingrese Usuario">
      <label>Usuario</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese Password">
      <label>Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese Password de Nuevo">
      <label>Repetir Password</label>
    </div>

    <div class="d-grid gap-2 mb-3">
      <button class="btn btn-primary btn-lg" (click)="addUser()">Aceptar</button>
    </div>
    <a routerLink="/login">Volver</a>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>

</div>