.row {
  margin-left: 15%;
}
.input-group{
  padding: 1rem;
  margin-left: 40%;
  width: 30%;
}
.form-control{
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
}
.text{
  color: rgb(141, 226, 177);
  text-transform: uppercase;
  margin-left: 5rem;
  text-decoration: double;
}