<header>
  <div class="logo">
    <a routerLink="/dashboard"><img width="100px" src="../../../assets/img/cuenta.png" alt="Logo"></a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="btn btn-outline-info">
          Administracion</a>
      </li>
      <li><a class="btn btn-outline-primary" routerLink="/dashboard">
          Productos</a>
      </li>
      <li><a class="btn btn-outline-primary" routerLink="/dashboard">
          Mi Cuenta</a>
      </li>
    </ul>
  </nav>
  <button class="btn btn-outline-danger" (click)="logOut()" type="submit">LogOut</button>

</header>



<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <p></p>
    <button class="btn btn-outline-primary">Produtos</button>
    <button class="btn btn-outline-primary">Info Usuario</button>
    

</nav> -->