h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.card {
  width: 18rem;
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 15px;
}

.card img {
  height: auto;
  background-size: contain;
  background-position: center;
}



.modal-body {
  display: flex;
}

.modal-body-right img {
  width: 150px;

}