<app-navbar></app-navbar>
<div class="container mt-2 text-left">

  <h2>Productos</h2>

  <div class="card" *ngFor="let item of listProducts">
    <img src="{{item.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description}}
      </p>
      <a href="#" class="btn btn-secondary" style="margin-right: 33%;">Ver Mas</a>
      <a href="#" class="btn btn-success">Comprar</a>
    </div>
  </div>







</div>
<app-footer></app-footer>