<div class="container-fluid">
  <div class="">
    <h6>Contactanos</h6>
    <button class="boton"><a href="https://w.app/u6Jyhw" target="_blank" class="navbar-brand"><img class="contacto"
          src="../../../assets/img/whatsappimg.png"></a></button>

    <button class="boton"><a href="https://www.instagram.com/vicenaloi/?hl=es-la" target="_blank"
        class="navbar-brand"><img class="contacto" src="../../../assets/img/Instagramimg.png"></a></button>

    <button class="boton"><a href="https://twitter.com/VicenteAloi1" target="_blank" class="navbar-brand"><img
          class="contacto" src="../../../assets/img/Twitter X.png"></a></button>

    <a href=""></a>
  </div>
</div>